
{{#home}}

<ul>
{{#flows}}
    <li><a href='{{name}}'>{{name}}</a>: {{desc}}</li>
{{/flows}}
</ul>

{{/home}}

<div class="row">
    <div class="col-4">
        {{#desc}}
        <p id="desc">{{desc}}</p>
        {{/desc}}
        
        <p id="instrux">
        {{#instrux}}
            instrux: {{instrux}}
        {{/instrux}}
        </p>

        {{#show_password}}
        <p id="password">
            password: {{password}}</p>
        </p>
        {{/show_password}}

        {{#okta_session}}
        <hr>
        <p>Okta session:</p>
        <p id="no_okta_session">none</p>
        <div id="okta_logout" style="display: none;">
            <p>Welcome, <span id="username"></span>!</p>
            <p>
                <a href="{{{okta_tenant}}}/login/signout?fromURI={{{redirect_uri}}}"><button>log out</button></a> ({{{okta_tenant}}})
            </p>
        </div>
        {{/okta_session}}

        {{#post_login_action}}
        <hr>
        <p id="post_login_action"></p>
        {{/post_login_action}}

        {{#onload_idp_disco}}
        <hr>
        <p>external IDP session:</p>
        <p id="no_external_session">none</p>
        <div id="external_idp_logout" style="display: none;">
            <p>Welcome, <span id="external_username"></span>!</p>
            <p>
                <a href="{{{external_idp}}}/login/signout?fromURI={{{redirect_uri}}}"><button>log out</button></a> ({{{external_idp}}})
            </p>
        </div>
        {{/onload_idp_disco}}
    </div>

    <div class="col-8">
        {{#widget_config}}
        <div id="widget-container" style="text-align: top;"></div>
        {{/widget_config}}

        {{#manual_login_form}}
        <div id="login_form" style="display: none;">
            <table style="border:0px">

                <tr>
                    <td>username:</td>
                    <td><input type="text" id="username_ff" value="sly.dunbar" \></td>
                </tr>
                <tr>
                    <td>password:</td>
                    <td><input type="password" id="password_ff" \></td>
                </tr>
            </table>
            <br>
            <button onclick="evaluate_creds()">go</button>
        </div>    
        {{/manual_login_form}}
    </div>
</div>
