<script>

window.onload = function() {

    oktaSignIn = widget_init()

    oktaSignIn.authClient.session.exists().then(function (sessionExists) {
        if (sessionExists) {
            console.log("a session exists.")

            $("#okta_logout").show()
            $("#no_okta_session").hide()

            oktaSignIn.authClient.session.get()
            .then(function(session) {
                console.log("okta session:")
                console.dir(session)
                $("#username").html(session.login)
                $("#password").hide()
            })
            .catch(function(err) {
                // not logged in
            })

            $("#logout").show()
        }
        else {
            show_widget_to_get_tokens()
        }
    })
}

</script>
