
<script>

window.onload = function() {

    const tokens = tokens_in_url()

    if (Object.keys(tokens).length === 0) {
        var signIn = new OktaSignIn(
        {
            baseUrl: '{{{okta_base_url}}}',
            clientId: '{{{client_id}}}',
            issuer: '{{{issuer}}}',
            redirectUri: '{{{redirect_uri}}}',
            authParams: {
                pkce: false
            },
            username: '{{default_user}}'
        }
        );

        signIn.showSignInAndRedirect({
            el: '#widget-container'
        }).catch(function(error) {
        // Handle error
        })
    }
    else {
        if ("idToken" in tokens) {
            console.log("idToken:")
            console.log(tokens.idToken)
        }
        if ("accessToken" in tokens) {
            console.log("accessToken:")
            console.log(tokens.accessToken)
        }
    }
}

</script>
