
<script>

window.onload = function() {

    authz_code_in_url(function(err, code) {

        if (err) {
            console.log("there is not an authz code in the url.")
        }
        else {
            console.log("the code is: " + code)

            html = "<p>Got an authz code in the url. Click the button (quickly) to post the code to the server.</p>"
            html += "<p><button id='post_code' onclick='post_code'>post code</button></p>"

            post_code(code, function(err, result) {
                console.log("posted the code.")
            })
        }
    })

	function post_code(code, callback) {
    
        $.post(
            "/code", {
                code: code,
                flow_name: "{{flow_name}}"
        })
        .done(function( data ) {

            if (data.access_token) {
                console.log("access token:")
                console.log(data.access_token)
            }
            else {
                console.dir(data)
            }
            console.log(data.access_token)
        })
    }

    var signIn = new OktaSignIn(
    {
        baseUrl: '{{{okta_base_url}}}',
        clientId: '{{{client_id}}}',
        redirectUri: '{{{redirect_uri}}}',
        authParams: {
            pkce: false,
            responseType: 'code'
        },
        username: '{{default_user}}'
    }
    );

    signIn.showSignInAndRedirect({
        el: '#widget-container'
    }).catch(function(error) {
    // Handle error
    })
}

</script>
