
<script>

window.onload = function() {

    authz_code_in_url(function(err, code) {
        if (err) {
            console.log("there is not an authz code in the url.")
        }
        else {
            console.log("the code is: " + code)

            html = "<p>Got an authz code in the url. Click the button (quickly) to post the code to the server.</p>"
            html += "<p><button id='post_code' onclick='post_code'>post code</button></p>"

            post_code(code, function(err, result) {
                console.log("posted the code.")
            })
        }
    })

    oktaSignIn.showSignInAndRedirect({
        el: '#widget-container'
    }).catch(function(error) {
    // Handle error
    })
}

function authz_code_in_url(callback) {
    const params = new URLSearchParams(window.location.search)

    if (params.has('code')) {
        return callback(null, params.get('code'))
    }
    else {
        return callback("none")
    }
}

function post_code(code, callback) {
    $.post(
        "/code", {
            code: code,
            flow_name: "{{flow_name}}"
    })
    .done(function( data ) {
        if (data.access_token) {
            console.log("access token:")
            console.log(data.access_token)
            $("#instrux").html("<p>{{user_msg_end}}</p>")
        }
        else {
            console.dir(data)
        }
    })
}

</script>
